

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
UserSettings/



/Packages/com.unity.*
/Library/PackageCache/
/Library/Artifacts/
/Library/ScriptAssemblies/



.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db



*.stackdump
sysinfo.txt
*.pidb.meta
*.pdb.meta
*.mdb.meta



*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
*.exe



/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*



.DS_Store
Thumbs.db
